/**Verde claro: 60BB46
   Verde oscuro: 00A04A
   Rojo Claro: EC2224
   Rojo medio: C32026
   Rojo oscuro: B72025
   Azul: 3952A3
   Celeste: 0099CC
   Azul marino (letras): 2F2E7E
   Amarillo: F7EC3F
   Plomo: 939597
**/
.thumbnail-slide > img{

    display: block;
    height: 160px !important;
}

.thumbnail.thumbnail-slide {
    margin-bottom: 0 !important;
}

.carousel {
    padding: 0 40px 0px 40px;
}

.row.carousel-row{
    margin-left: 0;
    margin-right: 0;
}

.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -5px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}

.well.well-carousel{
    margin-top: -20px;
}


/* termino carrusel*/

a, a:hover, a:active, a:link, a:visited {
    color: white;
    text-decoration: none;
}

aside {
    vertical-align: top;
}

aside, section {
    min-height: 800px;
    display: inline-block;

}

body {
    color: #2F2E7E;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    height: auto;
}

footer {
    display: none;
    background: #3952A3;
}

footer, header {
    height: 80px;
}

h2 {
    color: #00A04A;
    font-size: 26px;
    margin-left: 20px;
    text-decoration: underline;
}

header {
    background: #60BB46;
}

i {
    color: white;
    padding: 5px;
}

li {
    list-style: none;
}

section {
    background: #FAF9F9;
    border-left: 1px solid #939597;
    border-right: 1px solid #939597;
    vertical-align: top;
    width: 65%;
}

td:last-child {
    text-align: center;
}

th:last-child {
    width: 100px;
    text-align: center;
}

ul li.li-vineta {
    display: flex;
    margin: 0 !important;
}

ul li.li-vineta:before {
    color: #00A04A;
    content: "• ";
    margin-right: 10px;
}

a.dz-remove {
    color: #3952A3;
}

.archivo {
    text-align: left !important;
}

.auditoria_name {
    font-size: 14px;
}

.auditoria {
    font-size: 10px;

}

.btn-buscar {
    background: #F7EC3F;
    border: none;
    border-radius: 0.5em;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

.btn-crear-nuevo {
    background: #0099CC;
    border: none;
    display: inline-block;
    padding: 0;
}

.btn-crear-nuevo:hover, .btn-crear-nuevo:active, .fa-user-plus:hover, .fa-newspaper-o:hover, .fa-picture-o:hover {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0 0 3px #0099CC;
    color: #0099CC;
}

.btn-buscar:hover, .fa-search:hover {
    background: white;
    box-shadow: inset 0 0 0 3px #F7EC3F;
    color: #F7EC3F;
}

.btn-galery {
    margin-top: 92px;
}

.btn-nuevo-parvulo {
    margin-bottom: 15px;
}

.container {
    width: 100%;
}

.container-title{
    display: inline-block;
}
.conteiner-option {
    padding: 0;
}

.contenedor-parvulos {
    margin-top: 132.5px;
}

.content {
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
    width: 100%;
}

.count-container {
    padding: 10px;
}

.count-inside {
    color: white;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    height: 130px;
    padding: 10px;
    text-align: left;
}

.count-inside i.fa.fa-child:hover, .count-container i.fa.fa-male:hover, .count-container i.fa.fa-newspaper-o, .count-container i.fa.fa-camera-retro {
    background: none !important;
    box-shadow: none !important;
    color: white !important;
}

.count-inside i.fa.fa-child, .count-container i.fa.fa-male, .count-container i.fa.fa-newspaper-o, .count-container i.fa.fa-camera-retro {
    background: none;
    font-size: 70px;
}

.count-container i.fa.fa-newspaper-o, .count-container i.fa.fa-camera-retro {
    font-size: 31px;
    margin-top: 35px;
    margin-bottom: -5px;
    text-align: left;
    width: auto !important;
}

.count-container i.fa.fa-camera-retro {
    margin-bottom: 5px;
}


span.count-number {
    float: right;
    font-size: 50px;
    position: relative;
    top: 20px;
}

.container-manual{
    border-top: 1px solid gainsboro;
    margin-top: 50px;
}


.count-subtitle {
    display: block;
    font-size: 14px;
    text-align: center;
}

.custom-panel-title a{
    color: #3952A3;
    font-weight: bold;
}

.delete-file {
    background: rgba(128, 128, 128, 0.15);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    color: rgba(68, 60, 60, 0.92) !important;
    display: block;
    padding: 0.1em 0.5em;
    font-size: 25px;
    position: absolute;
    margin-left: -15px;
    margin-top: 85px;
}

a.delete-file:hover {
    background: rgba(66, 64, 64, 0.71);
    color: white !important;
}

.div-btn {
    padding-bottom: 10px;
}

.dropzone .nav-tabs li a, .dropzone .nav-tabs > li.active > a {
    color: #2F2E7E;
}

.dropzone .nav-tabs > li.active > a {
    font-weight: bold;
}

.fa {
    border-radius: 0.3em;
    padding: 5px;
    text-align: center;
    width: 30px;
}

.fa-arrow-right {
    color: #3952a3;
    font-size: 25px;
    vertical-align: middle;
}


.fa-child {
    background: #60BB46;
}

.fa-child:hover {
    background: rgba(0, 0, 0, 0);
    color: #60BB46;
    box-shadow: inset 0 0 0 3px #60BB46;
}

.fa-pencil {
    background: #3952A3;
}

.fa-pencil:hover {
    background: rgba(0, 0, 0, 0);
    color: #3952A3;
    box-shadow: inset 0 0 0 3px #3952A3;
}

.fa-user-plus, .fa-newspaper-o, .fa-picture-o {
    padding: 10px !important;
    width: 170px !important;
}

.fa-search {
    background: #F7EC3F;
    font-weight: bolder;
}

.fa-trash-o {
    background: #C32026;
    font-weight: bolder;
}

.fa-trash-o:hover {
    background: rgba(0, 0, 0, 0);
    color: #C32026;
    box-shadow: inset 0 0 0 3px #C32026;
}

.file-title {
    color: #65686b !important;
    font-size: 13px;
    text-align: justify;
    display: block;
    margin-top: -15px;
    margin-bottom: 25px;
}

.file-title:hover {
    color: #1056a7 !important;
}

.form-group .radio-inline {
    margin-left: 15px !important;
}

.form-group-buscar {
    display: inline-block;
}

.general-files-container {
    padding: 0 10px !important;
}

.item-menu{
    font-family: 'Love Ya Like A Sister', sans-serif;
}
.manual-row{
    height: 110px;
    text-align: right;
    padding-top: 50px;
}


.manual{
    top: 70%;
    margin-left: 20px;
}

/*.manual-usuario {
    padding: 100px 50px;
}

img.manual{
    vertical-align: middle;
}
*/
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #1056A7;
    border-color: #2F2E7E;
}

.panel-body, .container {
    padding: 0 !important;
}

.panel-dropzone {
    border-color: #337ab7;
    margin: 0 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: none;
}

.panel-option {
    margin-top: 20px;
}

.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0099CC;
}

.row-thumbnails {
    margin: 20px 0;
}

.t-actions {
    display: block;
    min-width: 99px !important;
}

.title {
    border-bottom: 1px solid #00A04A;
    border-radius: 0.3em;
    color: #00A04A;
    font-size: 40px;
    margin-top: 30px;
    padding: 5px;
}

.thumbnail > img {
    display: block;
    height: 100px; /* add this */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

span.update-date {
    float: right;
}

#aside1 {
    width: 20%;
}

#aside2 {
    padding-top: 20px;
    width: 14%;
}

nav#bottom-nav ul li {
    border-radius: 50%;
    border: 2px solid #1056a7;
    width: 25px;
    text-align: center;
    background: #fff;
}

nav#bottom-nav ul li a {
    color: #1056a7;
}

nav#bottom-nav {
    float: right;
    position: relative;
    top: 60px;
    right: 15%;
}

#count-container-1 {
    background: #3952A3;
}

#count-container-2 {
    background: #F7EC3F;
}

#count-container-3 {
    background: #00A04A;
}

#count-container-4 {
    background: #C32026;
}

#header-bar {
    background: rgba(96, 187, 70, 0.8);
    color: #3952A3;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: -79px;
}

#header-bar ul {
    float: right;
    margin: -55px 20px;
}

#header-bar ul li {
    display: inline-block;
}

#icon-font {
    font-size: 18px;
}

#img-isologo, #img-logotipo {
    display: inline-block;
    height: 60px;
    margin: 88px 0 10px 20px;
}

#img-isologo-computecsos {
    margin-left: 20px;
    vertical-align: middle;
    width: 40px;
}

#img-menu {
    display: none;
}

#panel-content-heading, .panel-content-heading {
    background: #F7EC3F !important;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #3952A3;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

#sidebar-desktop {
    width: 100%;
}

#sidebar-desktop ul {
    padding: 0;
    margin: auto;
    width: 90%;
}

#sidebar-desktop ul li a {
    background: #C32026;
    border-radius: 0.5em;
    display: block;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

#sidebar-desktop ul li a {
    color: white;
}

#sidebar-desktop ul li a:hover {
    background: rgba(0, 0, 0, 0);
    color: #C32026;
    box-shadow: inset 0 0 0 3px #C32026;
}

#sidebar-mobile {
    display: none;
}

#t-header-content-principal {
    background: #F7EC3F;
    color: #3952A3;
}

/*  BOOTSTRAP  */
.dropzone .dz-message {
    margin: 1em 0 !important;
    border-top: dashed 1px #dddddd !important;
    padding: 60px !important;
}

.easy-autocomplete {
    width: 100% !important;
}

.form-control {
    font-size: 16px !important;
}

.select2-container {
    width: 100% !important;
}

.table {
    margin-bottom: 30px;
}

@media screen and (max-width: 991px ) {

    .div-btn {
        padding-bottom: 45px;
    }

    section {
        width: 79.4%;
        border-right: none;
    }

    #aside2 {
        width: 100%;
        height: auto;
        min-height: 0;
    }
}

@media screen and (max-width: 773px) {


    header nav {
        display: block;
        background: #00A04A;
        height: 100%;
        margin: -78px 0 0;
        position: fixed;
        width: 65%;
        z-index: 9999999;
    }

    header nav ul li {
        background: #00A04A;
        border-bottom: 3px solid rgba(255, 255, 255, .3);
        display: inline-block;
        float: none;
        margin-top: 10px;
        margin-left: -20px;
        padding: 5px;
        text-align: left;
        width: 90%;
    }

    nav li a:hover:before {
        height: 0;
    }

    section {
        width: 100%;
        border: none;
    }

    #aside1, #btn-logout, #img-logotipo, #icon-font, #sidebar-desktop {
        display: none;
    }

    #img-menu {
        display: inline-block;
        float: right;
        height: 30px;
        margin: -58px 20px 0 0;
        padding: 5px;
        width: 40px;
    }

    #header-bar ul li:first-of-type {
        margin-right: 40px;

    }

    #sidebar-mobile {
        transition: right 0.3s linear;
    }

    #sidebar-mobile ul li:first-of-type {
        margin-top: 70px;
    }

    #sidebar-mobile.visible {
        display: block;
        left: 0;
        transition: right 0.3s linear;
    }

}

@media screen and (max-width: 465px) {

    .button-title {
        display: none;
    }

    .btn-crear-nuevo, .fa-user-plus, .fa-newspaper-o, .fa-picture-o {
        width: 60px !important;
    }

    .form-group-buscar {
        max-width: 70% !important;
    }

    form.nav-form.nav-left.pull-left {
        width: 60%;
    }

}

@media screen and (max-width: 365px) {

    .title {
        font-size: 30px;
    }

    .fa {
        display: block !important;
        margin: auto !important;
    }

    .t-actions {
        min-width: 0 !important;
    }

    .t-actions .fa:first-of-type {
        margin-bottom: 5px !important;
    }
}