/**Verde claro: 60BB46
   Verde oscuro: 00A04A
   Rojo Claro: EC2224
   Rojo medio: C32026
   Rojo oscuro: B72025
   Azul: 3952A3
   Celeste: 0099CC
   Azul marino (letras): 2F2E7E
   Amarillo: F7EC3F
   Plomo: 939597
**/

@font-face {
    font-family: ZapfinoExtraLTPro;
    src: url(../fonts/ZapfinoExtraLTPro.otf);
}

a{
    color: white;
    text-decoration:none;
}
article{
    margin-top: 565px;
}
aside{
    background: grey;   /* Despues borrar*/
}
body{
    color: #2F2E7E;
    font-family: Arial;
    font-size: 16px;
}
footer{
    background: #3952A3;
    padding: 20px 0;
}
footer, header{
    min-height:165px;
    width:100%;
}
h3{
    font-size: 17px;
    font-weight:bold;
    margin: 5px 0 0 0;
}
header{
    background: #60BB46;
    height: 165px;
}
li{
    list-style:none;
}
nav{
    display:block;
    background: black;
    height: auto;
    margin:0 auto;
    overflow: hidden;
    position:relative;
    top:400px;
    width:717.5px;
}
nav li, #li-zona-apoderados{
    background: #C32026;
    border: 3px solid #B72025;
    border-radius: 0 0 1em 1em;
    color: #fff;
    display: inline-block;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size:20px;
    height: 50px;
    line-height: 2.5em;
    margin-left: -10px;
    text-align: center;
    vertical-align: middle;
    width:180px;
}
p{
    margin:0;
}
section{
    background: brown; /* Despues borrar*/

}
ul{
    margin:0;
    padding:0;
}
.footer-box{
    align:center;
    background:white;
    border: 3px solid #00A04A;
    border-radius: 1em;
    margin: 0 auto 10px;
    padding:10px;
    width:84%;
}
.li-two-lines{
    line-height: 1.3em;
}

#copyright{
    color: white;
    margin-top: 30px;
    text-align: center;
}

#img-arco-azul{
    margin-bottom: -5px;
    width:100%;
}

#img-arco-verde{
    display:block;
    margin-top:24px;
    position:absolute;
    width:100%;
}

#li-zona-apoderados{
    float:right;
    height:70px;
    line-height:5em;
    margin-top:25px ;
    z-index: -1;
}

@media screen and (max-width:800px ) {
    article{
        margin-top: 200px;
    }

    aside{
        background: #F7EC3F;
        border: 1px solid #00A04A;
        border-radius: 0 2em 2em 2em;
        margin: 50px auto;
        width: 90%;
    }

    header nav {
        background: #00A04A;
        height: 100%;
        left: -70%;
        margin: 0;
        margin-top:-400px;
        position: fixed;
        width: 70%;
    }

    header nav ul li {
        background: #00A04A;
        border: 3px solid #00A04A;
        border-bottom:3px solid rgba(255,255,255, .3);
        display: block;
        float: none;
        margin-left:1%;
        margin-top:10px;
        padding-left:5%;
        text-align:left;
        width:90%;
    }

    section{
        background: white;
        border: 1px solid #EC2224;
        border-radius: 0 2em 2em 2em;
        margin: 10px auto;
        width: 90%;
    }


    .content, .news-box{
        margin:25px;
        text-align: justify;
    }

    .logo{
        display:block;
        height:120px;
        padding-top:20px;
    }
    .news-date{
        float:right;
        font-size:14px;
        font-weight:lighter;
    }

    .news-first-line, .news-second-line{
        margin: 20px 0;
    }
    .news-first-line, .news-second-line, .news-date {
        color: #3952A3;
    }

    .news-title{
        font-weight:bold;
    }

    #img-isologo{
        float:left;
        height:90px;
        margin: 10px 0 0 10px;
        width:120px;
    }

    #img-menu {
        display: block;
        float: right;
        height: 30px;
        margin: 35px 20px 0 0;
        padding: 5px;
        width: 40px;
    }

    .news-box li {
        border-top: 1px solid #939597;
    }

    .news-box li:first-child {
        border-top: 0;
    }

    #news-section-title{
        font-size:19px;
        font-weight: lighter;
        margin-top:-20px !important;
    }

    #sidebar{
        transition:left 0.3s linear ;
    }

    #sidebar.visible{
        left:0;
        transition:left 0.3s linear ;
    }

    #title, #news-section-title{
        background: #00A04A;
        border-radius: 0.3em 0.3em 0.3em 0;
        color: white;
        font-family: 'Love Ya Like A Sister', cursive;
        margin: -30px 0 0 -1px;
        padding-left:5px;
        width: 200px;
    }


}
