/**Verde claro: 60BB46
   Verde oscuro: 00A04A
   Rojo Claro: EC2224
   Rojo medio: C32026
   Rojo oscuro: B72025
   Azul: 3952A3
   Celeste: 0099CC
   Azul marino (letras): 2F2E7E
   Amarillo: F7EC3F
   Plomo: 939597
**/

a, a:hover, a:active, a:link, a:visited{
    color: white;
    text-decoration:none;
}

aside{
    vertical-align: top;
}

aside, section{
    min-height:800px;
    display: inline-block;

}


body{
    color: #2F2E7E;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    height:auto;
}

footer{
    display: none;
    background: #3952A3;
}

footer, header{
    height:80px;
}

h2{
    color:#00A04A;
    font-size: 26px;
    margin-left: 20px;
    text-decoration:underline;
}

header{
    background: #60BB46;
}

i{
    color:white;
    padding: 5px;
}

li{
    list-style: none;
}

section{
    background: #FAF9F9;
    border-left: 1px solid #939597 ;
    border-right: 1px solid #939597 ;
    vertical-align: top;
    width:65%;
}

td:last-child {
    text-align: center;
}
th:last-child {
    width: 100px;
    text-align: center;
}

.div-btn{
    padding-bottom: 10px;
}
.btn-crear-nuevo{
    background: #0099CC;
    border:none;
    display: block;
    padding: 0;
}

.btn-crear-nuevo:hover, .fa-user-plus:hover,  .fa-newspaper-o:hover{
     background: rgba(0,0,0,0);
     box-shadow: inset 0 0 0 3px #0099CC;
     color: #0099CC;
 }

.col-lg-5{
    margin-top:182.5px;
}
.fa{
    border-radius: 0.3em;
    padding: 5px;
    text-align: center;
    width:30px;
}

.fa-child{
    background: #60BB46;
}

.fa-child:hover{
    background: rgba(0,0,0,0);
    color: #60BB46;
    box-shadow: inset 0 0 0 3px #60BB46;
}

.fa-pencil{
    background: #3952A3;
}
.fa-pencil:hover{
    background: rgba(0,0,0,0);
    color: #3952A3;
    box-shadow: inset 0 0 0 3px #3952A3;
}

.fa-user-plus, .fa-newspaper-o{
    padding: 10px !important;
    width:170px !important;
}

.fa-trash-o{
    background: #C32026;
    font-weight: bolder;
}

.fa-trash-o:hover{
    background: rgba(0,0,0,0);
    color: #C32026;
    box-shadow: inset 0 0 0 3px #C32026;
}

.panel-body , .container{
    padding: 0 !important;
}



.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #0099CC;
}

.t-actions{
    display:block;
    min-width:99px !important;
}

.title{
    border-bottom: 1px solid #00A04A;
    border-radius: 0.3em;
    color: #00A04A;
    font-size: 40px;
    margin-top: 30px;
    max-width: 230px;
    padding:5px;
}

#aside1{
    width: 20%;
}

#aside2{
    width: 15%;
}

#header-bar {
    background: rgba(96,187,70,0.8);
    color: #3952A3;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#header-bar ul{
    float:right;
    margin: 26px 20px;
}

#header-bar ul li {
    display: inline-block;
}

#icon-font{
    font-size: 18px;
}


#img-isologo, #img-logotipo {
    display: inline-block;
    height:60px;
    margin: 10px 0 10px 20px;
}

#img-isologo-computecsos{
    margin-left: 20px;
    vertical-align: middle;
    width:40px;
}

#img-menu{
    display:none;
    float:right;
    margin: 25px 20px;
    height:30px;
}

#sidebar{
    width: 100%;
}

#sidebar ul{
    padding: 0;
    margin: auto;
    width:90%;
}

#sidebar ul li a{
    background: #C32026;
    border-radius: 0.5em;
    display: block;
    margin-top:20px;
    padding: 10px;
    text-align: center;
}

#sidebar ul li a {
    color: white;
}

#sidebar ul li a:hover {
    background: rgba(0,0,0,0);
    color: #C32026;
    box-shadow: inset 0 0 0 3px #C32026;
}

#t-header-content-principal{
    background: #F7EC3F;
    color: #3952A3;
}



