/**Verde claro: 60BB46
   Verde oscuro: 00A04A
   Rojo Claro: EC2224
   Rojo medio: C32026
   Rojo oscuro: B72025
   Azul: 3952A3
   Celeste: 0099CC
   Azul marino (letras): 2F2E7E
   Amarillo: F7EC3F
   Plomo: 939597
**/

a{
    color: white;
    text-decoration:none;
}

footer, header{
    min-height:165px;
    width:100%;
}

header{
    background: #60BB46;
    height: 165px;
}

li{
    background: #C32026;
    border: 3px solid #B72025;
    border-radius: 0 0 1em 1em;
    color: #fff;
    display: inline-block;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size:20px;
    height: 50px;
    line-height: 2.5em;
    list-style:none;
    margin-left: -10px;
    text-align: center;
    vertical-align: middle;
    width:180px;
}

/*nav{
    display:block;
    background: black;
    height: auto;
    margin:0 auto;
    overflow: hidden;
    position:relative;
    top:400px;
    width:717.5px;
}*/

ul{
    margin:0;
    padding:0;
}

#img-arco-verde{
    display:block;
    margin-top:144px;
    position:absolute;
    width:100%;
}

#img-isologo{

    //float:left;
    height:90px;
    margin: 10px 0 0 10px;
    width:120px;
}



#li-zona-apoderados{
    float:right;
    height:70px;
    line-height:5em;
    margin-top:45px ;
    z-index: -1;
}

@media screen and (max-width:800px ) {

    #img-menu{
        display:inline-block;
        float:right;
        height:30px;
        position:static;
        width:40px;
    }

    #div-header{
        display: inline-block;
        margin:20px;
        position: absolute;
        top:0;
        right:-150px;
        vertical-align: middle;
        width:100%;
    }

    #sidebar{
        background: green;
        width: 200px;
        height: 100%;
        display: block;
        position: absolute;
        left:-200px;
        top:0;
        transition:left 0.3s linear ;
    }

    #sidebar.visible{
        left:0;
        transition:left 0.3s linear ;
     }

    ul{
        margin: 0;
        padding: 0;
    }

    ul li{
        list-style: none;
    }

    ul li a{
        color: white;

        display: block;
        width: 180px;
        padding:10px;
        text-decoration: none;
    }

    #sidebar-btn{
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 15px;
        cursor: pointer;
        margin:20px;
        position: absolute;
        top:0;
        right: -60px;
    }

}

