a, a:hover, a:active, a:link, a:visited{
    color: white;
    text-decoration:none;
}

aside{
    height:800px;
    vertical-align: top;
}

aside, section{
    display: inline-block;

}


body{
    color: #2F2E7E;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

footer{
    background: #3952A3;
}

footer, header{
    height:80px;
}

h2{
    color:#00A04A;
    font-size: 26px;
    margin-left: 20px;
    text-decoration:underline;
}

header{
    background: #60BB46;
}

i{
    color:white;
    padding: 5px;
}

nav {
    background: rgba(96,187,70,0.8);
    color: #3952A3;
    position: fixed;
    width: 100%;
}

nav ul{
    float:right;
    margin: 26px 20px;
}

nav ul li{
    display: inline-block;
}



section{
    background: lightgoldenrodyellow;
    height:800px;
    width:65%;
    vertical-align: top;
}


#aside1{
    border-right: 1px solid #939597 ;
    width: 20%;
}

#aside2{
    background: lightgrey;
    width: 15%;
}

#copyright{}

#icon-font{
    font-size: 18px;
}


#img-isologo, #img-logotipo {
    display: inline-block;
    height:60px;
    margin: 10px 0 10px 20px;
}

#img-isologo-computecsos{
    margin-left: 20px;
    vertical-align: middle;
    width:40px;
}

#img-menu{
    display:none;
    float:right;
    margin: 25px 20px;
    height:30px;
}

